body {background-color: bisque;}
            h1 {
                text-align: center;
                color: blue;
            }
        

        .header {
            background: rgb(75, 58, 150);
            border-radius: 2% !important;
            border-width: auto;
            height: 10% auto;
            width: 20% auto;
            padding: 20px;
            text-align: center;
            font-size: 25px;
            font-family: "Times New Roman";
            color: rgb(103, 83, 83);  
            }
        img{
            position: relative;
            top: -145px;
            width: 10%;
            height: 18%;
            border-radius: 30%;
        }
            .social-links-div{
                position: relative;
                top : -10px;
                float: right !important;
                width: auto;
                height: auto;
                background: rgb(75, 58, 150);
                padding: 20px;
                }
            h2 {text-align:right;}

            .info {text-align: center, unset;
                position: relative;
                top: 400px;
                background-color: rgb(75, 58, 150);
                font-size: 20px;
                border: solid black !important;
                font-family: "Times New Roman";
                color: rgb(37, 0, 0);
                margin: 20px 0 0auto;
                }

            