{%extends "layout.html"%}
{% block content %}
{%if title%}
<title> Sam Sonter - {{title}} </title>
{%else%}
<title> Sam Sonter </title>
{%endif%}

<main class="content">
    <section>
    <div itemscope itemtype="https://schema.org/Movie">
        <h1 itemprop="name">Avatar</h1>
        <span>Director: <span itemprop="director">James Cameron</span> (born August 16, 1954)</span>
        <span itemprop="genre">Science fiction</span>
        <div class="entry-content" itemprop="text">
            <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and
                multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
                recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing
                videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then
                you can expect much faster video releases. I really appreciate how patient everyone has been while I go
                through this move, especially those of you who are contributing monthly through YouTube </p>
        </div>
        <a href="../movies/avatar-theatrical-trailer.html" itemprop="trailer">Trailer</a>
    </div>
    <div class="entry-content" itemprop="text">
        <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and
            multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
            recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing
            videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then
            you can expect much faster video releases. I really appreciate how patient everyone has been while I go
            through this move, especially those of you who are contributing monthly through YouTube </p>
    </div>
    <div class="entry-content" itemprop="text">
        <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and
            multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
            recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing
            videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then
            you can expect much faster video releases. I really appreciate how patient everyone has been while I go
            through this move, especially those of you who are contributing monthly through YouTube </p>
    </div>
    <div class="entry-content" itemprop="text">
        <p>Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and
            multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary
            recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing
            videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then
            you can expect much faster video releases. I really appreciate how patient everyone has been while I go
            through this move, especially those of you who are contributing monthly through YouTube </p>
    </div>
    </section>
</main>


</body>

</html>


{% endblock content %}